* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
}

#container canvas {
    position: absolute;
    width: 1024px;
    height: 768px;
}
